/*slider CSS*/
/* custom slider css */
:root {
  --slider-width: 400px;
  /* slides +1 is because on the last rotation, it
  needs to slide onto the "first" slide, then change 
  back to the first slide behind the sceens.
  used with calc() */
  --slides-plus-one: 5;
}
#custom-slider {
  width: var(--slider-width);
  margin: auto;
  overflow: hidden;
}
.slider-list {
  display: block;
  width: calc(var(--slider-width) * var(--slides-plus-one));
  margin: 0;
  padding: 0;
}
.slide-card {
  float: left;
  width: var(--slider-width);
  display: flex;
  flex-direction: column;
}
.title-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden-content {
  display: none !important;
}

/* breakpoint on medium screens (width 1500px) for slider */
@media screen and (min-width: 1500px) {
  :root {
    --slider-width: 750px;
  }
  #custom-slider {
    width: var(--slider-width);
  }
  .slider-list {
    width: calc(var(--slider-width) * var(--slides-plus-one));
  }
  .slide-card {
    width: var(--slider-width);
  }
}

/* breakpoint on large screens, enlarge slider */
@media screen and (min-width: 550px) {
  .title-row {
    flex-direction: row;
  }
}
/*end slider css*/
html {
  background-color: black;
  background-image: url("../assets/minus25bright-space.gif");
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.hero-body {
  font-family: "goldman", Georgia, "Times New Roman", Times, serif;
  background-color: black;
}
.input {
  width: 400px;
}

.title-row {
  font-size: 25px;
}

.launch h1 {
  font-size: 25px;
}

#main-content-area {
  background: rgb(0, 0, 0, 0.75) !important;
}
