body {
  background-color: black;
  background-image: url(“https://media.giphy.com/media/1ZjLRSrAyikUzypJfa/giphy.gif”);
  background-size: cover;
  /* opacity: 0.5; */
  height: 100vh;
  padding: 0;
  margin: 0;
}

.hero-body {
  font-family: "goldman", Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: aliceblue;
}

div.columns {
  border: darkblue;
  border-radius: 25px;
}
